<section class="mat-typography">
  <h1>10 latest log messages</h1>

  <ng-template [ngIf]="isLoading" [ngIfElse]="notLoading">
    Loading...
  </ng-template>

  <ng-template #notLoading>
    <ng-template [ngIf]="isError" [ngIfElse]="notError">
      Failed to load data. Please try again later.
    </ng-template>

    <ng-template #notError>
      <mat-card *ngFor="let message of messages" class="log-card">
        <mat-card-content>
          <div class="log {{ cssClassByLevelId[message.getLevel()] }}">
            <div class="log-icon">
              <i class="material-icons">{{ iconIdByLevelId[message.getLevel()] }}</i>
            </div>
            <div class="log-entry">
              <pre>{{ message.getMessage() }}</pre>
              <small *ngIf="message.getDateTime()">
                <br/>
                {{ message.getSource() }} at
                {{ message.getDateTime().getDay() }}/{{ message.getDateTime().getMonth() }}/{{ message.getDateTime().getYear() }}
                {{ message.getDateTime().getHours() }}:{{ message.getDateTime().getMinutes() }}:{{ message.getDateTime().getSeconds() }}
              </small>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </ng-template>
</section>
